/* do not highlight main bar */
.toolbar-mainbar, .toolbar-extensions{
    background: linear-gradient(var(--colorBgLighter),var(--colorWindowBg)) !important;
}

.button-toolbar, .button-toolbar>button, .button-toolbar>button:active, .button-toolbar>button:focus{
	background: none !important;
}

.button-toolbar>button:hover{
    background: linear-gradient(var(--colorAccentBgFadedMost),var(--colorAccentBgDarker)) !important;
}

.button-toolbar>button:active:hover{
    background: linear-gradient(var(--colorWindowBg),var(--colorBgLighter)) !important;
}

#browser.color-behind-tabs-on .tab.active {
    background: var(--colorAccentBg) !important;
}

#browser.linux, #browser.linux button, #browser.linux input, #browser.linux select, #browser.linux textarea {
	font-family: 'Eurostile', 'Trebuchet MS', Verdana, sans;
}
